name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        # See: https://github.com/bevyengine/bevy/blob/main/docs/linux_dependencies.md
      - name: Install Bevy dependencies
        run: sudo apt-get update; sudo apt-get install --no-install-recommends g++ pkg-config libx11-dev libasound2-dev libudev-dev libxkbcommon-x11-0  libwayland-dev libxkbcommon-dev
      - name: Build Rapier
        run: cargo build --verbose --features rapier --examples
      - name: Build Avian
        run: cargo build --verbose --features avian --examples
